<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        h2 {
            margin: 1rem;
        }
        .detail {
            margin: 1rem;
            
        }
    </style>
</head>
    
<body>
    <h2>User Details</h2>
    <div class="detail">
    <strong>ID: </strong> <%=data.id%> <br>
        <strong>First Name: </strong> <%=data.first_name%> <br>
            <strong>Last Name: </strong> <%=data.last_name%> <br>
                <strong>Username: </strong> <%=data.username%> <br>
                    <strong>Email: </strong> <%=data.email%> <br>
                    <a href="/show">Back to user list</a>
                </div>
</body>

</html>